.footer {
  color: #869aaf;
  padding: 10px 0;
  position: relative;
  z-index: 1;

  .columns {
    margin: 0;
  }

  .mdi {
    color: #fff;
    cursor: pointer;
  }
  // .footer .mdi

}
// .footer
