<%
  @titleFull =  'Alex Fernandez &mdash; entrepreneur, web craftsman, indie game developer'
%>

<div class="parallax">
  <div class="parallax__back">
    <div class="header_bg"></div>

    <div class="intro">
        <div class="headshot">
            <img src="/assets/images/me-drawn.png" class="headshot__drawn">
            <img src="/assets/images/me-photo.png" class="headshot__photo">
        </div>
        <span class="intro__title">Alex Fernandez</span>
        <span class="intro__tagline">entrepreneur, web craftsman, indie game developer</span>
    </div>


  </div>
  <div class="parallax__front">
    <div class="container">
        <h1>Follow me:</h1>
        <p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p>

        <p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p><p>Hello, my name is Alex Fernandez. I am an entrepreneur, web craftsman and indie game developer currently residing in&nbsp;Charlotte,&nbsp;NC.</p>
        <p>I created my first game, and started to teach myself how to code, at the age of 11 on my very first computer, a Compaq Presario, back in 2001. Ever since then, I have been fascinated with the way that all technology works and how to manipulate it to do what I want it to do. This is my&nbsp;passion.</p>
        <p>In 2012, I released my first official game, Project: Mayhem, for iOS and it went on to do well. It was even #1 in Malaysia for a short period of&nbsp;time.</p>
    </div>
  </div>
</div>

